* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: rgb(12, 78, 84);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    color: #fff;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-size: 1.8rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

.nav-item:hover {
    color: rgb(172, 225, 207);
}

.search-container {
    display: flex;
    align-items: center;
}

.hide-search {
    visibility: hidden;
}

.search-container input {
    padding: 0.3rem;
    font-size: 1.15rem;
    outline: none;
    border: none;
    border-radius: 9px;
    margin-right: 0.5rem;
}

#color-switcher {
    position: relative;
    background-color: rgb(164, 188, 191);
    height: 35px;
    width: 70px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#color-switcher-moved {
    position: relative;
    background-color: #fff; 
    width: 31px;
    height: 31px;
    top: 2px;
    left: 37px; 
    border-radius: 50%;
    transition: 0.6s;
}

#color-switcher-unmoved {
    position: relative;
    background-color: #fff; 
    width: 31px;
    height: 31px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: 0.6s;
}

/* Media quaries  */

@media screen and (max-width: 1440px){
    .navbar {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 1024px){
    .logo {
        display: none;
    }

    .nav-item {
        margin: 0 1rem;
        font-size: 1.2rem;
    }

    .search-container input {
        font-size: 1.05rem;
    }

    #color-switcher {
        height: 33px;
        width: 60px;
    }
    
    #color-switcher-moved {
        top: 1px;
        left: 27px; 
    }
    
    #color-switcher-unmoved {
        top: 1px;
        left: 2px;
    }
}

@media screen and (max-width: 768px){
    .navbar {
        padding: 1rem;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px){
    .navbar {
        padding: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .navbar-nav {
        margin-bottom: 0.7rem;
    }
}

@media screen and (max-width: 380px){
    .navbar {
        padding: 0.8rem 0;
    }
    .search-container input {
        max-width: 160px;
    }

    .nav-item {
        margin: 0 0.5rem;
        font-size: 1.1rem;
    }

}